.navbar-container {
  background-color: #052c49;
  display: flex;
  color: #dae1e7;
  justify-content: space-between;
  height: 8vh;
}

.nav-left {
  display: flex;
  /* border: 2px solid red; */
  width: 50%;
  margin-left: 10vw;
  font-size: 14px;
  align-items: center;
}

.nav-right {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  width: 50%;
  margin-right: 10vw;
  justify-content: flex-end;
  font-size: 14px;
  font-weight: 400;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container Link {
  text-decoration: none;
}

.logo {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.logo :first-child {
  color: #d58053;
}

.category-container {
  /* border: 2px solid red; */
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.category {
  background-color: #ecf5ff;
  height: 2.2rem;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: black;
  border-radius: 8px;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  /* border: 2px solid red; */
}

.category p {
  margin-left: 10px;
}

.search {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.login-container {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
}

.sign-in {
  color: #fff;
  font-weight: 500;
}

.sign-up {
  color: #fff;
  background: #d58053;
  border-radius: 8px;
  padding: 7px;
  padding-left: 14px;
  padding-right: 14px;
  font-weight: 500;
  margin-left: 20px;
  transition: all 200ms ease-in-out;
}

.sign-up:hover {
  transform: scale(1.03);
  box-shadow: 6px 6px 18px -9px rgba(104, 104, 104, 0.75);
}
