*{
  /* margin: 0;  */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* overflow: hidden; */
} 

body{
  background-color:rgb(233, 245, 255);
}

.card-container{
  /* border: 2px solid red;   */
  width: 80vw;
  margin-left: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

