.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid red; */
  padding: 20px;

  margin: 60px 0;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10vw;
  color: #183661;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10vw;
  color: #183661;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide-img {
  width: 1000px;
  height: 520px;
  border-radius: 10px;
  /* border: 2px solid red; */
}

.slide {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transform: scale(1);
}

.slide-card {
  border: 2px solid red;
}
